<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="../styles/output.css" rel="stylesheet">
</head>

<body class="relative bg-[url('/img/smhomecompress.jpg')] md:bg-[url('/img/homecompresslg.jpg')] overflow-hidden min-h-screen bg-cover">
<!-- <video src="/img/video(2160p).mp4" autoplay loop muted class="object-cover object-center min-w-full min-h-full absolute top-0 bottom-0 right-0 left-0"></video> -->


<div id="whole-cont">

    <div>
    <p class="
    text-neutral-400
      text-xl
      px-6
      top-[46%]
      font-bold
      font-sans
      absolute
      md:text-5xl
      md:text-white
      md:px-[60px]
      md:top-[43%]
      flex">Welcome to the water </p>
    </div>

    <div class="
      text-stone-600
      text-sm
      font-light
      px-6
      top-[50%]
      justify-between
      gap-3
      font-sans
      md:font-light
      lg:text-xl
      absolute
     md:text-white
      md:px-[65px]
      md:top-2/4
      flex
      ">
        <a href="/kiter/" class=" hover:text-black hover:font-semibold">Kiter</a>
        <span>|</span>
        <a href="/signup/" 
        class="hover:text-black hover:font-semibold">Academy</a>
    </div>

  
</div>

</body>
</html>